:root {
  --navigation-link: #3d3d3d;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visualli-hidden {
  display: none;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: auto;
  font-weight: 300;
  color: #696969;
  text-transform: unset;
  text-align: center;

  background-color: #f8f6f6;
}

.title-text {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 80px;
}

.container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.list-style {
  list-style: none;
}

.wrapper {
  display: flex;
  align-items: center;
}

.link-style {
  text-decoration: none;
}

.title-h2 {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 45px;
  letter-spacing: 0.1em;
  color: #3d3d3d;

  text-align: center;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 45px;
}

.title-h2::after {
  content: '';
  display: flex;
  background-color: #f4511e;
  width: 150px;
  height: 3px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*
 ///////////////// Шапка Сайта //////////////////////////////
 */
.main-header {
  top: 0px;
  background-color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
}

.main-header-logo img {
  margin-right: 30px;
}

.main-header-logo {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.main-header-logo:focus {
  outline-width: 5px;
  outline-color: #e84c3d;
}

.logo-text {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #696969;
}

.burger-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.list-item-menu a {
  margin-left: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: var(--navigation-linkd);
  color: #696969;
  transition: color 250ms linear;
}

.hover-nav:hover,
.hover-nav:focus,
.hover-nav:active {
  font-weight: 700;
  color: #e84c3d;
}

/*
 ///////////////// Hero  //////////////////////////////
 */
.container-wrapper {
  position: sticky;
  z-index: 0;
}

.slider {
  height: 708px;
  padding-bottom: 135px;
}

.slider-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.wrapper-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.wrapper-slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  width: 100%;
  height: 100%;
  z-index: 2;
}

.wrapper-slider-content {
  position: absolute;
  z-index: 3;
  top: 70%;
  left: 50%;
  width: 100%;

  transform: translate3d(-50%, -50%, 0);
}

.lider-item {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 708px;
}

.slider-buttonRigt {
  content: '';

  position: absolute;
  background-image: url(../img/arrw2.png);
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background-repeat: no-repeat;
  width: 25px;
  height: 45px;

  right: 70px;
  top: 40px;
  cursor: pointer;
}

.slider-buttonLeft {
  content: '';

  position: absolute;
  background-image: url(../img/arrw.png);
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  width: 25px;
  height: 45px;

  left: 70px;
  top: 40px;
  cursor: pointer;
}

.read {
  color: #fe1800;
  text-shadow: 0px 0px 5px #fe1800, 0px 0px 7px #dbbcb8;
  animation: blur 1500ms linear infinite;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fabfb8, 0px 0px 10px #fabfb8,
      0px 0px 25px #fabfb8, 0px 0px 25px #fabfb8, 0px 0px 25px #fabfb8,
      0px 0px 25px #fabfb8, 0px 0px 25px #fabfb8, 0px 0px 25px #fabfb8,
      0px 0px 50px #fabfb8, 0px 0px 50px #fabfb8, 0px 0px 50px #dbbcb8,
      0px 0px 65px #dbbcb8, 0px 10px 65px #dbbcb8, 0px 10px 65px #dbbcb8,
      0px 10px 85px #dbbcb8, 0px 10px 85px #dbbcb8, 0px -10px 85px #dbbcb8,
      0px -10px 85px #dbbcb8;
  }
}

.slogan {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 60px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  line-height: auto;
  color: #f5f5f5;
  margin-top: auto;
  margin-bottom: 25px;
}

.inscription {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: auto;
  color: #f5f5f5;

  margin: 0px;
  margin-bottom: 140px;
}

.call-to-action::before {
  content: '';
  display: flex;
  background-image: url(../img/mouse.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;

  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-weight: 700;
  color: #fff;
}

/*
 ///////////////// About us  //////////////////////////////
 */

.about-us {
  padding-top: 100px;
  padding-bottom: 120px;
}

.about-list {
  list-style: none;
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

.about-list-item {
  flex-basis: 320px;
  background-color: #ebebeb;

  margin-right: 20px;

  padding: 30px 40px 20px 40px;
}

.cret_design::before {
  content: '';
  display: flex;
  background-image: url(../img/cret_design.png);
  background-repeat: no-repeat;
  background-position: center;

  width: 50px;
  height: 57px;
  margin: 0px auto 25px;
}

.portfo::before {
  content: '';
  display: flex;
  background-image: url(../img/portfo.png);
  background-repeat: no-repeat;
  background-position: center;

  width: 50px;
  height: 57px;
  margin: 0px auto 25px;
}

.infiniti::before {
  content: '';
  display: flex;
  background-image: url(../img/infiniti.png);
  background-repeat: no-repeat;
  background-position: center;

  width: 65px;
  height: 57px;
  margin: 0px auto 25px;
}

.about-list-item p {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.about-list-item h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.025;
  color: #707070;

  margin-top: 0px;
  margin-bottom: 30px;

  text-align: center;
}

/*
 ///////////////// Video  //////////////////////////////
 */

.video {
  background-color: #171f23;

  display: flex;

  margin-left: auto;
  margin-right: auto;
}

.flex-wrapper {
  padding-top: 135px;
  flex-basis: 680px;
  margin-left: auto;

  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

video {
  display: block;
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  min-height: 500px;
  object-fit: cover;
}

.wrapper-video {
  position: relative;
  margin-right: auto;
}

.wrapper-video::before {
  content: ' ';
  position: absolute;
  background-image: url(../img/control.png);
  background-repeat: no-repeat;

  width: 100px;
  height: 110px;
  top: 50%;
  left: 50%;

  transform: translate3d(-50%, -50%, 0);
}

.behind-the-scene {
  text-align: center;

  margin-top: 0px;
  margin-bottom: 35px;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #e7e7e7;
  text-transform: uppercase;
}

.video-button {
  padding: 0px;
  margin: 0 auto;
  text-align: center;
  display: block;
  border: none;
  height: 35px;
  width: 127px;
  color: #ebebeb;
  background-color: #e84c3d;
  text-transform: uppercase;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14;
  border-bottom: 2px solid #b11000;
}

.video-button:hover,
.video-button:focus {
  text-align: center;
  display: block;
  border: none;
  height: 35px;
  width: 127px;
  color: #ebebeb;
  background-color: #b11000;
  outline-width: 5px;
  outline-color: #e84c3d;
  text-transform: uppercase;
  font-family: 'Roboto', Arial, sans-serif;
}

/*
 ///////////////// WoRkS  //////////////////////////////
*/

.works {
  padding-top: 80px;
}

.radio {
  visibility: hidden;
}

.works-title-h3 {
  margin-bottom: 30px;
}

.works-title-h3 label {
  margin-left: 20px;
}

.works-title-h3 label:nth-child(1) {
  margin-left: 0px;
}

.works-title-h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 14;
  letter-spacing: 0.1em;
  color: var(--navigation-link);
}

.hover-focus {
  color: #3d3d3d;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
  transition: color 250ms linear;
}

.hover-focus:hover,
.hover-focus:focus,
.hover-focus:active {
  font-weight: 700;
  color: #e84c3d;
}

.projects {
  margin: 0px;
  background-color: #b11000;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 40px 0px;
}

.projects-item {
  position: relative;
  flex-basis: 380px;
  height: 500px;
  background-color: #707070;
  margin-right: 5px;
  margin-bottom: 2px;
  overflow: hidden;
  object-fit: cover;
}

.wrapper-button-action {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  overflow: hidden;

  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 5;
}

.actionsLink {
  display: block;
  background-image: url(../img/linkOrig.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  width: 43px;
  height: 43px;
  margin-right: 10px;
  opacity: 0;

  color: rgba(29, 27, 27, 0);

  animation-name: marginbot;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  animation-fill-mode: forwards;
  animation-delay: 150ms;
}

.actionsLink:hover,
.actionsLink:focus {
  display: block;

  background-image: url(../img/link.png);
  background-repeat: no-repeat;
  background-position: 10px, 50%;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  text-align: right;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-right: 35px;
  padding-top: 5px;

  color: rgba(29, 27, 27, 1);

  width: 143px;
  height: 43px;

  animation-name: hoverLink;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  animation-delay: 200ms;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
    width: 43px;
    color: rgba(29, 27, 27, 0);
    background-image: url(../img/link.png);
    background-color: #e87e5d;
  }

  50% {
    width: 143px;
    color: rgba(255, 250, 250, 0);
    background-image: url(../img/link.png);
    background-color: #e87e5d;
  }

  100% {
    opacity: 1;
    width: 143px;
    color: rgb(255, 255, 255);
    background-image: url(../img/link.png);
    background-color: #e87e5d;
  }
}

.actionsSee {
  display: block;
  background-image: url(../img/Seeorig.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  color: rgba(29, 27, 27, 0);

  width: 43px;
  height: 43px;
  opacity: 0;

  animation-name: margintop;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  animation-fill-mode: forwards;
  animation-delay: 150ms;
}

@keyframes margintop {
  0% {
    margin-bottom: 120px;
  }

  50% {
    margin-bottom: 0px;
    margin-top: 20px;
    opacity: 1;
  }

  100% {
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes marginbot {
  0% {
    margin-top: 120px;
  }

  50% {
    margin-top: 0px;
    margin-bottom: 20px;
    opacity: 1;
  }

  100% {
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1;
  }
}

.actionsSee:hover,
.actionsSee:focus {
  display: block;

  background-image: url(../img/Seeorig.png);
  background-repeat: no-repeat;
  background-position: 10px, 50%;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  text-align: right;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 5px;
  color: rgba(29, 27, 27, 1);

  width: 143px;
  height: 43px;

  animation-name: hover;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  animation-delay: 100ms;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes hover {
  0% {
    opacity: 1;
    width: 43px;
    color: rgba(29, 27, 27, 0);
    background-image: url(../img/see1.png);
    background-color: #e87e5d;
  }

  50% {
    width: 143px;
    color: rgba(255, 250, 250, 0);
    background-image: url(../img/see1.png);
    background-color: #e87e5d;
  }

  100% {
    opacity: 1;
    width: 143px;
    color: rgb(255, 255, 255);
    background-image: url(../img/see1.png);
    background-color: #e87e5d;
  }
}

.projects-item::before {
  content: '';
  position: absolute;
  background-color: rgba(232, 76, 61, 0.3);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 4;
}
.works-link img {
  transition: filter 150ms linear;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.7);
  display: flex;
}

.projects-item:hover .wrapper-button-action,
.projects-item:focus .wrapper-button-action {
  display: flex;
}

.projects-item:nth-child(4n) {
  margin-right: 0px;
}

.projects-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

/*
 ///////////////// Clients  //////////////////////////////
 */

.Clients {
  background-color: #1c1c1c;
  padding-top: 120px;
  padding-bottom: 100px;
}

.wrapper-slider-client {
  position: relative;
}

.slider-buttonRigt-client {
  content: '';

  position: absolute;
  background-image: url(../img/arrw2.png);
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background-repeat: no-repeat;
  width: 25px;
  height: 45px;

  right: 0px;
  top: 0px;
  cursor: pointer;
}

.slider-buttonLeft-client {
  content: '';

  position: absolute;
  background-image: url(../img/arrw.png);
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  width: 25px;
  height: 45px;

  left: 0px;
  top: -5px;
  cursor: pointer;
}

.Clients-list {
  margin: 0 auto;
  padding-left: 0px;

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 704px;
}

.Clients-list::before {
  content: '';
  background-image: url(../img/arrw.png);
  background-repeat: no-repeat;
}

.clients-list-item {
  flex-basis: 210px;
  margin-right: 85px;
}

.clients-list-item:nth-last-child(1) {
  margin-right: 0px;
}

.link-klients {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;

  font-size: 33px;
  font-family: monospace;
}

.themeforest::before {
  content: '';
  position: absolute;
  background-image: url(../img/client1.png);
  background-repeat: no-repeat;

  width: 46px;
  height: 38px;

  left: -5px;
  transform: translateX(-100%);
}

.graphicriver::before {
  content: '';
  position: absolute;
  background-image: url(../img/client3.png);
  background-repeat: no-repeat;

  width: 52px;
  height: 56px;

  left: -5px;
  top: 0px;
  transform: translateX(-100%);
}

.videohive::before {
  content: '';
  position: absolute;
  background-image: url(../img/client2.png);
  background-repeat: no-repeat;

  width: 42px;
  height: 44px;
  left: -5px;
  top: 0px;
  transform: translateX(-100%);
}

/*
 ///////////////// who-we  //////////////////////////////
 */

.who-we {
  padding-top: 100px;
}

.flex-container {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 100px;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0px auto 32px;
}

.over {
  position: relative;
}

.over::before {
  content: '';
  position: absolute;
  background-color: rgba(232, 73, 59, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.staff {
  margin: 0px;
  margin-left: auto;
  margin-right: 20px;
  padding: 73px 30px 120px;

  flex-basis: 320px;
  background-color: #ebebeb;
}

.slider-staff {
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: #fff;
  margin-right: 10px;
}

.slider-staff:nth-last-child(1) {
  margin-right: 0px;
}

.slider-staff:hover,
.slider-staff:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.staff-list {
  margin: 0px;
  padding: 0px;
  margin-bottom: 25px;
  padding-left: 0px;
  list-style: none;

  text-align: center;
}

.neme-staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: black;
}

.profession {
  color: #3d3d3d;

  font-size: 14px;
  font-weight: 300;
}

.social-links {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  list-style: none;

  margin-bottom: 40px;
}

.social-links-item {
  margin-right: 5px;
  padding: 5px;
}

.social-links-item:nth-last-child(1) {
  margin-right: 0px;
}

.social-links-item a:hover,
.social-links-item a:focus {
  outline-width: 5px;
  outline-color: #e84c3d;
}

.my-skills {
  flex-basis: 660px;
  background-color: #ebebeb;

  padding: 100px 45px 90px 65px;
  margin-right: auto;

  text-align: left;
}

.title-skills {
  margin-top: 0px;
  margin-bottom: 30px;

  text-transform: uppercase;
  font-family: 'Roboto' sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;

  color: black;
}

.text-my-skills {
  margin-top: 0px;
  margin-bottom: 40px;
}

.skills {
  margin: 0px;
  padding: 0px;
  list-style: none;

  font-weight: 700;
  color: #000;
}

.skills-item {
  display: flex;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.skills-item:nth-last-child(1) {
  margin-bottom: 0px;
}

.skill-number {
  position: relative;
  margin-left: auto;
  font-weight: 400;
  color: #3d3d3d;
}

.Photoshop::before {
  position: absolute;
  content: '';
  background-color: #fff;

  width: 370px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

.Photoshop::after {
  position: absolute;
  content: '';
  background-color: #e84c3d;

  width: 320px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

.Illustrator::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 370px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

.Illustrator::after {
  position: absolute;
  content: '';
  background-color: #e84c3d;
  width: 350px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

.Sketch::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 370px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

.Sketch::after {
  position: absolute;
  content: '';
  background-color: #e84c3d;
  width: 345px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

.AfterEffects::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 370px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

.AfterEffects::after {
  position: absolute;
  content: '';
  background-color: #e84c3d;
  width: 365px;
  height: 1px;

  top: 50%;
  left: -382px;
  transform: translate3d(0, -50%, 0);
}

/*
 ///////////////// FEATURES  //////////////////////////////
 */

.FEATURES {
  background-color: #171f23;
  padding: 60px 0px 70px;
}

.title-FEATURES {
  margin-top: 0px;
  margin-bottom: 65px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2em;

  text-transform: uppercase;
}

.features-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features-list-item {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 145px;

  font-size: 18px;
  color: #f6f6f6;
}

.features-list-item:nth-last-child(1) {
  margin-right: 0px;
}

.numbers {
  padding-top: 30px;
  font-size: 48px;
  font-weight: 300;
  color: #fff;
}

.Shortcodes::before {
  display: block;
  content: '';
  background-image: url(../img/Short_icn.png);
  background-repeat: no-repeat;

  width: 56px;
  height: 58px;
  margin: 0px auto 35px;
}

.Plugins::before {
  display: block;
  content: '';
  background-image: url(../img/plugins_icn.png);
  background-repeat: no-repeat;
  margin: 0px auto 35px;
  width: 56px;
  height: 58px;
}

.Products::before {
  display: block;
  content: '';
  background-image: url(../img/products_icn.png);
  background-repeat: no-repeat;
  margin: 0px auto 35px;
  width: 56px;
  height: 58px;
}

.Worldwide::before {
  display: block;
  content: '';
  background-image: url(../img/clients_icn.png);
  background-repeat: no-repeat;
  margin: 0px auto 35px;
  width: 56px;
  height: 58px;
}

/*
 ///////////////// Blog  //////////////////////////////
 */

.Blog {
  padding-top: 90px;
  padding-bottom: 120px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper-img-blog {
  position: relative;
  height: 220px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-preview {
  flex-basis: 320px;
  flex-wrap: wrap;
  margin-right: 20px;

  background-color: #ebebeb;
}

.blog-preview:hover .wrapper-button-action,
.blog-preview:focus .wrapper-button-action {
  display: flex;
}

.blog-preview:hover .img-blog,
.blog-preview:focus .img-blog {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

.blog-preview:nth-last-child(1) {
  margin-right: 0px;
}

.img-blog {
  margin: 0px;
  height: 100%;
  object-fit: cover;
  transition: filter 150ms linear;
}

.wrapper-blog {
  margin: 0px;

  padding: 42px 35px 25px 30px;
}

.title-blog {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: left;
}

.text-blog {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: left;
}

/*
 ///////////////// Pricing  //////////////////////////////
 */

.pricing {
  background-color: #171f23;
  padding-top: 60px;
  padding-bottom: 90px;
}

.title-pricing {
  margin-top: 0px;
  margin-bottom: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2em;
}

.Pricing-listy {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  list-style: none;

  margin-right: 2px;
}

.Pricing-liste-item {
  flex-basis: 230px;
  background-color: #1f282c;
  margin-right: 2px;
  padding-bottom: 45px;
  transition: box-shadow 150ms linear;
}

.Pricing-liste-item:nth-child(4n) {
  margin-right: 0px;
}

.Pricing-liste-item:hover,
.Pricing-liste-item:focus {
  border: 1px;
  border-style: solid;
  cursor: pointer;
  box-shadow: 0px 4px 15px 1px #8e422a;
  position: relative;
}

.Pricing-liste-item:hover .number-mini,
.Pricing-liste-item:focus .number-mini {
  color: #f6744b;
}

.wrapper-pricing {
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: #0e1316;
}

.title-pricing-list {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;

  margin-top: 0px;
  margin-bottom: 0px;
}

span.number {
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  color: #fff;
  letter-spacing: 0em;

  margin-top: 0px;
  margin-bottom: 45px;
}

.Pricing-list-list {
  margin: 0px;
  padding-top: 50px;
  padding-left: 0px;
}

.Pricing-liste-liste-item {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 25px;
}

.number-mini {
  font-weight: bold;
  transition: color 150ms linear;
}

.button-price {
  padding: 10px 20px;

  background-color: #f6744b;
  border-style: none;
  border-radius: 2px;

  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;

  cursor: pointer;
  outline-color: #fff;
}

.button-price:hover,
.button-price:focus {
  box-shadow: 0px 0px 4px 1px #fac5b4;
}

/*
 ///////////////// contact  //////////////////////////////
 */

.contact {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #fff;
}

.button-contacts {
  padding: 20px 20px;
  width: 200px;

  margin-right: auto;
  margin-left: auto;

  background-color: #f6744b;
  border-style: none;
  border-radius: 2px;

  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;

  cursor: pointer;
  outline-color: #383f42;
}

.button-contacts:hover,
.button-contacts:focus {
  box-shadow: 0px 0px 4px 1px #383f42;
}

.form-contact {
  display: flex;
  flex-wrap: wrap;
  width: 760px;

  margin: 0px auto 60px;
}

.input-contact {
  display: block;
  width: 370px;
  border-style: none;
  border-bottom: 1px solid #cacaca;

  margin-bottom: 45px;
  padding-top: 55px;
}

.text-input {
  display: block;
  margin-right: 20px;

  text-align: left;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text-input:nth-child(2) {
  margin-right: 0px;
}

.color-input {
  color: #f6744b;
}

.form-contact textarea {
  display: block;
  min-width: 760px;
  border-style: none;
  border-bottom: 1px solid #cacaca;
  padding: 0px;
  padding-top: 55px;

  text-align: left;
  margin-bottom: 60px;
}

/*
 ///////////////// FOOTER  //////////////////////////////
 */
.footer {
  background-color: #171f23;
  padding-top: 50px;
  padding-bottom: 60px;
}

.logo-footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.logo-footer-text {
  color: #fff;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 10px;
}

.text-footer {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
